<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Your Favorite Source For Design Solutions</h1>
            <hr>
            <p>We can help you build better degins project from websites to film and photography using cutting edge technology Just get in touch for a Free quote</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

